/*body  {
}*/



/*  HOME PAGE (index) HEADER  */
.container-fluid {
	padding-left: 0; 
	padding-right: 0; 
}
.image_header {
	background-image: url('../images/962d9ab708a5f2998ae6538810d34b84 copy 3.jpg');
	background-position: center;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
  	min-height: 800px;
  	border-bottom-left-radius: 30%;
  	border-bottom-right-radius: 30%;
}
.image_header .row {
	margin-right: 0;
}
.home_header {
	background-color: transparent;
}
.header_home_navigation a{
	text-align: center;
	color: white;
	font-weight: bolder;
}
.hr {	
	width:100%;
	background-color: white;
	height: 1px;
	transition: .3s;
	margin-bottom: 4px;
}
.header_home_navigation a:hover {
	text-decoration: none; 
}
.header_home_navigation a:hover .hr {
	height: 4px;
	margin-bottom: 0;
}
.header_home_image .col-10{
	padding-right: 0;
	padding-left: 0;
}
.home_header_navigation_list {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
}
.logo_header_home {
	transform: rotate(-25deg);
	padding: 45px 0 30px 40px;
	transition: .3s;
}
.logo_header_home:hover {
	transform: rotate(0);
}
.header_home_menu {
	padding-top: 20px;
	padding-bottom: 25px;
	background-color: #5a5a5a;
	opacity: 0.8;
	transition: .5s;
}
.header_home_menu:hover {
	opacity: .95;
	background-image: url('../images/nkarner/pattern-3.png');
	background-size: 150px;
}
.header_home_menu:hover a li{
	opacity: 1;
}
.m-40-b {
	margin-bottom: 40px;
}
.m-40-t {
	margin-top: 40px;
}
.right_aligned_barber_family {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.transformated_content_family {
	margin-right: 0; 
	/*background-color: #d6a354;*/
	padding: 20px 15px 20px 15px;
	/*transform: rotate(-20deg);*/
	margin: 0 60px 0 60px;
	text-align: center;
	color: white;
	font-family: 'Big Shoulders Stencil Display', cursive;
}
.transformated_content_family h1 {
	margin: 0;
 	font-size: 60px;
 	color: #d6a354;
 	font-weight: bold;
}
.btn_see_last_news {
	display: block;
	text-align: center;
}
.btn_see_last_news a {
	transition: .3s;
	color: #d6a354;
	padding: 10px;
	border-radius: 100%;
	border: 1px solid #d6a354;
}
.btn_see_last_news:hover a {
	background-color: #d6a354;
	color: white;
	text-decoration: none;
}
.go_down {
	text-align: center;
	margin-top: 150px;
}
.go_down a {
	text-decoration: none;
	color: white;
}
.go_down h1 {
	margin: 0;
}
.go_down div {
	transition: .4s;
	padding: 15px;
	margin: auto;
	border: 2px solid #d6a354;
	width: 100px;
	border-radius: 100%;
}
.go_down:hover div{
	background-color: #d6a354;
}

/*  NAVIGATION BAR WITH LOGO STYLE  */


.default_navigation_row {
	justify-content: space-around;
	margin-right: 0;
}
.navigation_bar_div {
	padding-top: 30px; 
	padding-right: 0; 
}
.w-200{
	width: 150px;
}
.w-180{
	width: 180px;
}
.logo {
	border-radius: 100%;
}
.logo_div {
	text-align: center;
}
.default_navigation {
	background-color: #202020;
}
.default_navigation ul {
	padding: 0;
}
.default_navigation a {
	color: white;
	text-decoration: none;
}
.navigation_list {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
}
.navigation_list li {
	padding: 20px 10px 20px 10px;
}
.navigation_list li:hover {
	transition: .3s;
	color: #F0BD3F;
}
.logo {
	background-color: green;
}

/*		 HOME PAGE SERVICES CONTAINER  	*/

.content_services_home {
	margin-top: 50px;
}
.container_title-right {
	display: flex;
	justify-content: flex-end;
}
.container_title-right h1 {
	width: 700px;
	text-align: center;
	color: #d6a354;
	margin-bottom: 80px;
}
.best_services {
	display: flex;
	width: 1200px;
	margin:auto;
	justify-content: space-around;
}
.first_service_best, .second_service_best {
	width: 500px;
	text-align: center;
}
.service_image {
	margin: auto;
	width: 305px;
	height: 305px;
}
.service_image_nt {
	width: 300px;
	height: 300px;
	margin: auto;
}
.service_description {
	width: 450px;
	margin: auto;
}
.service_description h3 {
	margin-top: 30px;
}
.design_pattern {
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: center;
}
.hr_, .hr_white {
	width:400px;
	margin: 0 15px;
}
.hr_ hr{
	border-top: 2px solid #212529;
}
.hr_white hr{
	border-top: 2px solid white;	
}
.img_pattern img{
	width: 50px;
}
.see_more_services {
}
.con_services {
	display: flex;
	width: 1300px;
	margin: auto;
	justify-content: space-around;
	text-align: center;
}
.content_more_service {
	width: 350px;
	padding: 30px 0;
	position: relative;
	transition: .4s;
}
.service_description a,
.content_more_service a {
	padding: 0 15px !important;
	color: black;
	border: 1px solid #212529;
	text-decoration: none;
	padding: 5px;
	border-radius: 15px;
}
.service_description a,.content_more_service a, 
.content_more_service a span {
	transition: .3s;
	z-index: 0;
}
.service_description a:hover,
.content_more_service a:hover {
	padding: 0 15px;
	color: white;
	background-color: #212529;
}
.service_description a,
.content_more_service a:hover span{
	margin-left: 7px;
}
.background_image img {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
	opacity: .5;
	transition: .5s;
	z-index: -1;
}
.content_more_service:hover .background_image img {
	height: 100%;
}
/*		ABOUT CONTENT HOME		*/
.about_container_base_content {
	padding: 30px 0;
	background-image: linear-gradient(to left, transparent, white 60%),
	url('../images/nkarner/962d9ab708a5f2998ae6538810d34b84.jpg');
}
.about_container_base_content {
	width: 1200px;
	margin-left: 220px;
}
.about_text {
	width: 800px;
}
.second_block_title {
	text-align: center;
}
.container_bonuses {
	padding: 50px 0;
	display: flex;
	justify-content: space-around;
}
.bonus {
	height: 100px;
	text-align: center;
}
.image_bonus {
	max-width: 100px;
}
.text_bonus {
	margin-top: 30px;
	color: #cf881b;
}
.content_contact {
	margin-top: 50px;
	width: 100%;
}

/*	Contact With Us Home	*/

.content_contact {
	width: 100%;
	background-color: rgba(16, 16, 16);
	color: white;
	display: flex;
	justify-content: space-around;
}
.contact_first_block {
	width: 800px;
}
.info_div_contact {
	width: 400px;
	margin: auto;
}
.title_contact h2 {
	padding: 50px 0 50px 0;
}
.contacts {
	border: 2px solid white;
	border-radius: 15px;
	padding: 40px 17px;
}
.info {
	display: flex;
	justify-content: flex-start;
}
.info img {
	width: 25px;
	margin: 0 25px;
}
.iframe_div {
	width: 100%;
}
.iframe_div iframe {
	width: 100%;
}
/*		FOOTER 		*/

footer {
	width: 100%;
	background-image: url('../images/nkarner/pattern-3.png');
	background-color: #202020;
}
.m-auto {
	width: 1200px;
	margin: auto;
	padding-top: 100px;
}
.content_footer {
	display: flex;
	justify-content: space-around;
}
.aboutus_footer_under_logo {
	color: white;
	margin-top: 10px;
	width: 180px;
	font-size: 12px;
	text-align: center;
}
.menu_and_services_footer {
	color: white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
.menu_pages_footer, .services_menu_footer {
	min-width: 250px;
	text-align: left;
}
.menu_pages_footer a, .services_menu_footer a {
	color: white;
	transition: .3s;
}
.h2_menu_footer {
	padding: 0 0 0 20px;
}
.menu_pages_footer li , .services_menu_footer li{
	min-height: 30px;
}
.menu_pages_footer a:hover{
	text-decoration: none;
	font-size: 18px;
}
.second_block {
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	width: 700px;
}
.follow {
	text-align: center;
}
.follow_us_img {
	margin-top: 10px;
	width: 50px;
	height: 50px;
}
.follow_us_img2 {
	width: 65px;
	/*height: 50px;*/
}
.follow div {
	width: 200px;
	margin: auto;
	display: flex;
	justify-content: space-around;	
}



/*		SERVICES		*/
.body_2 {
	background-image: url('../images/nkarner/pattern-3.png');
	background-color: #101010;
} 
.container_title {
	text-align: center;
	margin: 25px 0;
}
.content_services {
	background-color: rgba(0, 0, 0, .5);
	color: white;
}
.content_services * {
	color: white !important; 
}




/*		REGISTRATION   	*/
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.lightcoralPlaceholder::-webkit-input-placeholder ,.lightcoralText{
    color: lightcoral;
}
.started_at-1500 {
	display: none !important;
}


/*		HOME PAGE MEDIA RULES 		*/


@media screen and (max-width: 1500px) {
	.started_at-1500 {
		display: block !important;

	}
	.started_at-1500 a {
		color: white;
	}
	.finished_in-1500 {
		display: none !important;
	}
}
@media screen and (max-width: 1250px) and (min-width: 750px) {
	.m-auto {
		width: 900px;
	}
	.hr_, .hr_white {
		width: 300px;
		margin: 0 10px;
	}
	.service_image_nt, .service_image {
		width: 180px;
		height: 180px;
	}
	.first_service_best, .second_service_best {
		width: 400px;
		text-align: center;
	}
	.service_description {
		width: 320px;
	}
	.best_services {
		width: 900px;
	}
}
@media screen and (width: 750px) {
	.best_services {
		width: 100%;
	}
	body {
		display: none;
	}
}